body{
	height: 200vh;
	width: 100%;
	margin: 0;
	font-family: 'Trirong', serif;
	text-align: center;
}


#about_page{
	margin: 0;
	padding: 0;
	padding-left: 10%;
	padding-right: 10%;
	height: 100vh;
	background-color: rgba(255,255,255, 0.6);
}

.about_text{
	padding-top:10%;
}

#faq_page{
	margin: 0;
	padding: 0;
	padding-left: 10%;
	padding-right: 10%;
	height: 100vh;
	background-color: rgba(255,255,255, 0.6);
}

.faq_text{
	padding-top:10%;
	margin: 0 ;
}

table h3{
	font-style: italic;
	font-size: 28px;
	line-height: 32px;
}

table p{
	font-size: 20px; 
}


table{
	text-align: left;
	font-weight: bold;
}

table th{
	padding-left: 30px;
	padding-right: 30px;
}

table td{
	width: 50%;
	padding-left: 30px;
	padding-right: 30px;
}

.faq_subtitle{
	font-weight: bold;
}