body{
	height: 200vh;
	width: 100%;
	margin: 0;
	font-family: 'Trirong', serif;
	text-align: center;
}


#about_page{
	margin: 0;
	padding: 0;
	padding-left: 10%;
	padding-right: 10%;
	height: 100vh;
	background-color: rgba(255,255,255, 0.6);
}

.about_text{
	padding-top:10%;
}

#faq_page{
	margin: 0;
	padding: 0;
	padding-left: 10%;
	padding-right: 10%;
	height: 100vh;
	background-color: rgba(255,255,255, 0.6);
}

.faq_text{
	padding-top:10%;
	margin: 0 ;
}

table{
	text-align: left;
	padding-left: 10%;
	padding-right: 10;	
}

table th{
	font-weight: normal;
}

table td{
	width: 50%;
}

.faq_subtitle{
	font-weight: bold;
}